@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: 'Noto Sans JP', sans-serif;
}
.navbar{
    background-color: #fbf6f0;
    height: 60px;

}
.title-brand{
    background: -webkit-linear-gradient(#ff0b30, #fd3a69);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 1.7rem;
    padding-left: 20px;
}
.navbar-nav {
    margin: 5px auto;
}
.nav-link{  
 color: #133b5c;
 font-size:1.2rem;
 font-weight: 500;
}
.nav-item{
    margin:3px 20px;
}
  /* about */
  .About{  
    margin-left: 7%;        
    text-align: center;
     }   
  .about-img{
    width: 500px;
    padding-top:70px;
 }
 .lead{
    letter-spacing: 1.5px;
    line-height: 2;
    font-weight: 400;
    color: #133b5c;
}    
/* alert */
.alert{
    text-align: center;
    padding-top: 3px;
    margin-bottom: 1px;
    background-color: rgb(149, 182, 182);
}
.alert-text{
    color: rgb(3, 46, 42);
    font-weight: 600;
    text-decoration: none;
}
.alert-text:hover{
color: #e20b3d;
}

.banner img{
    height: 20vh;
    width: 100%;
    object-fit: cover;
}

.places-container{
    background-color: #f6f5f5;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 5% 10%;
}
.place-header{
    color: #fecd1a;
    
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
}
.place-cards{
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid green;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 10px;
}

.place-cards:hover{
    box-shadow: 0 0 0 1px;
    background-color: #fff;
}
.place-cards img{
    padding: 1px;
    height: 30vh;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: cover;
}
.card-heading{
    display: flex;
    justify-content: space-around;
}
.place-cards h2{
    color: #214252;
}

.rating{
    color: #fff;
   
    padding: 2px 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #9ddfd3;
}
.place-cards p{
    color: #79a3b1;
}


.yoga img{
    height: 90vh;
    object-fit: cover;
}
.yoga h2{
    color: #595b83;
}
.yoga p{
    color: #8bcdcd;
}
.yoga-discription{
    padding: 5% 5%;
    text-align: center;
}



/* ...........testimonials .................*/


.testimonials{
    margin: 5% 10%;
}